/* Stile generale */
body {
    font-family: 'Vladimir Script', cursive;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Barra di navigazione */
.navbar {
    background-color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
    border-bottom: 2px solid #e9967a;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 15px;
}

.navbar ul li a {
    font-family: 'Vladimir Script', cursive;
    text-decoration: underline;
    color: #333333;
    font-size: 1.2em;
    padding: 8px 15px;
    background-color: #f2f2f2;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #ff5c8a;
    color: #ffffff;
}

/* Sezione Home con immagine di sfondo ridotta */
#home {
    background: url('IMG-20240630-WA0004.jpg') no-repeat center center;
    background-size: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    position: relative;
    background-color: #f2f2f2;
}

/* Titolo della home */
#home h1 {
    font-family: 'Vladimir Script', cursive;
    font-size: 4em;
    color: #fff;
    margin-bottom: 30px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

/* Barra scura e trasparente sotto la scritta principale */
.transparent-bar {
    background-color: rgba(0, 0, 0, 0.5); /* Barra scura e trasparente */
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 80%;
    margin: 20px auto; /* Centra la barra */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra per effetto di profondità */
}

/* Stile della scritta di benvenuto */
.welcome-message {
    font-size: 1.8em;
    color: #ffffff; /* Testo bianco */
    margin-top: 10px;
    font-style: 'Goudy Old Style', cursive;
    text-align: center; /* Assicura che il testo sia centrato */
    width: 100
